body, .App{
  background: #efefef !important;
  width: 750px !important;
  height: 100vh;
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
}
.app-wrap{
  flex: 1;
  overflow: scroll;
}
