body, .App{
  background: #fff !important;
  width: 750px !important;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
html{
  background-color: rgba(0, 128,0, 0.3);
}
.loading-icon{
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000000;
}
.app-wrap{
  flex: 1;
}
.player-wrap-all{
  position: fixed;
  width: 750px !important;
  height: 190px;
  bottom: 0;
  z-index: 88888000;
}
